.body {
  display: flex;
  background-color: salmon;
  justify-items: center;
}
.container {
  width: 100vw;
  margin-top: 95px;
  margin-right: 90px;
}
.foodwaste {
  display: flex;
  background-color: salmon;
}

.instruction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 18px;
  color: indigo;
  margin-top: 100px;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 20px;
  font-weight: bold;
  color: wheat;
  padding-right: 10%;
}

#info {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  color: wheat;
  align-self: center;
  font-size: 18px;
}

.landing {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 50px;
  margin-top: 50px;

  border: 2px solid wheat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(64, 23, 161)),
    color-stop(16%, rgb(23, 172, 48)),
    color-stop(32%, rgb(0, 110, 255)),
    color-stop(48%, rgb(35, 175, 54)),
    color-stop(60%, rgb(174, 22, 19)),
    color-stop(76%, rgb(209, 23, 212)),
    color-stop(1, rgb(20, 103, 212))
  );
}

.logo {
  /*  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
}

.display {
  margin: 0 auto;
  width: 800px;
  display: flex;
  text-align: right;
  justify-content: space-around;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 20px;
}

.special {
  display: flex;
  justify-content: center;
}

.creditbox {
  display: flex;
  align-content: flex-end;
}

.specialbox {
  display: flex;
  width: 200px;
  padding-top: 7px;
  padding-left: 5px;
}

.scorecredit {
  display: flex;
  flex-direction: row;
}
#credit {
  font-weight: bold;
  width: 100px;
}

.gamebox {
  display: flex;
  justify-content: center;
}

#game-board {
  position: relative;
  z-index: 0;
  text-align: center;
  padding: 10px;
}

/* #start {
  position: absolute;
  z-index: 2;
  background-color: orange;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  color: white;
  width: 150px;
  height: 80px;
  align-content: center;
  margin-top: 80px;
} */

#messages {
  position: absolute;
  z-index: 1;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 100px;
  margin-top: 170px;
  background-color: bisque;
}

.game-body {
  display: flex;
  height: 100vh;
  width: 100vw;
}
